@media (max-width: 1439px) {
    .sidepannel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .menu__block {
        width: 345px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .uparrow {
        display: none;
    }
    .title_fz36 {
        font-size: 30px;
    }
    .promo_subtitle {
        margin-left: 20px;
    }
    .promo__title {
        margin-left: 20px;
    }
    .promo__btns {
        margin-left: 20px;
    }
    .about {
        padding-left: 20px;
        &__wrapper {
            grid-template-columns: 300px 380px;
            row-gap: 0;
        }
        &__skills {
            grid-template-columns: 380px;
            row-gap: 20px;
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 578px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        padding-left: 0;
        &__wrapper {
            grid-template: 400px auto / 1fr;
        }
        &__photo {
            overflow: hidden;
            grid-row: unset;
            img {
                max-height: 400px;
            }
        }
        &__skills {
            grid-template-columns: repeat(2, 250px);
            &-item {
                grid-template-columns: 40px 200px;;
                column-gap: 20px;
            }
        }
        &__descr {
            padding-top: 30px;
        }
    }

}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .promo {
        padding-top: 200px;
    }
    .title_fz16 {
        font-size: 14px;
    }
    .promo_subtitle {
        &::before {
            position: absolute;
            z-index: -1;
            top: -15%;
            left: 0;
            content: '';
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background: #ffa501;
        }
    }
    .menu__block {
        width: 250px;
    }
    .menu__list {
        padding-left: 10px;
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 58%/cover;
    }
    .about {    
        &__wrapper {
            grid-template: 340px / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    
}

@media (max-width: 329px) {
    .container {
        width: 260px;
    }
    .promo {
        &_subtitle {
            margin-left: 0;
        }
        &__title {
            width: 260px;
            margin-left: 0;
        }
        .title_fz48 {
            font-size: 14px;
        }
        &__btns {
            margin-left: 0;
        }
    }
}