@media (max-width: 1300px) {
    .container {
        max-width: 960px;
    }
    .sidepannel {
        display: none;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 578px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
    }
    .promo {
        padding-top: 60%;
    }
    .title_fz16 {
        font-size: 14px;
    }
    .promo_subtitle {
        &::before {
            position: absolute;
            z-index: -1;
            top: -15%;
            left: 0;
            content: '';
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background: #ffa501;
        }
    }
}